<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2014 eBay Enterprise, Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <sections>
	<payment>
            <groups>
                <radial_creditcard translate="label comment" module="radial_creditcard">
                    <label>Radial Credit Card</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>3</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>4</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </specificcountry>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <encryption_key>
                            <label>Encryption Key</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>radial_creditcard/system_config_backend_encryptionkey</backend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </encryption_key>
			<paymentavs translate="label">
                        	<label>Pass After AVS Response</label>
                                <comment>Consult Radial For Help with Tender AVS Validations</comment>
                                <sort_order>9</sort_order>
                                <frontend_type>text</frontend_type>
                                <validate>validate-number</validate>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                        </paymentavs>
                        <paymentavs_error translate="label">
                                <label>AVS Failure Response Display</label>
                                <sort_order>10</sort_order>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                        </paymentavs_error>
                        <paymentavscsc_error translate="label">
                                <label>AVSCSC Failure Response Display</label>
                                <sort_order>11</sort_order>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                        </paymentavscsc_error>
                        <paymentcsc_error translate="label">
                                <label>CSC Failure Response Display</label>
                                <sort_order>12</sort_order>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                        </paymentcsc_error>
                        <paymentdeclf translate="label">
                                <label>Pass After DECLF Response</label>
                                <comment>Consult Radial For Help with Tender DECLF Validations</comment>
                                <sort_order>13</sort_order>
                                <frontend_type>text</frontend_type>
                                <validate>validate-number</validate>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                         </paymentdeclf>
                         <paymentdeclf_error translate="label">
                                <label>DECLF Failure Response Display</label>
                                <sort_order>14</sort_order>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                         </paymentdeclf_error>
                         <paymentdecl translate="label">
                                <label>Pass After DECL Response</label>
                                <comment>Consult Radial For Help with Tender AVS Validation</comment>
                                <sort_order>15</sort_order>
                                <frontend_type>text</frontend_type>
                                <validate>validate-number</validate>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                         </paymentdecl>
                         <paymentdecl_error translate="label">
                                <label>DECL Failure Response Display</label>
                                <sort_order>16</sort_order>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                         </paymentdecl_error>
			 <authgrace translate="label">
                                <label>Auth Cancel For Non-Converted Orders</label>
				<comment>Grace Period in Hours</comment>
                                <sort_order>17</sort_order>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
			 </authgrace>
                    </fields>
                </radial_creditcard>
            </groups>
        </payment>
    </sections>
</config>
